
<html>
<head>
	<title>Ruby on Rails </title>
</head>
<body>


<h1>Help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>

	<p>
	To get help on this sample app, se the Rails tutorial book. 

	</p>


</body>
</html>


